.map {
    height: 400px;
    width: 100%;
}

nav .nav-wrapper{
    background-color: #009688;
}

#linechart_material{
    width: 900px; 
    height: 500px
}

.ol-popup-content{
    background-color: white;
}

.ol-overlay-container{
    background-color: white;
    bottom: 20px;
    height: 0px;
}

.popover.fade.top.in{
    background-color: white;
}