{% load static %} {% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %} {% load material_form %}
<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
  <link rel="stylesheet" href="{% static 'V1prototype/style.css' %}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
  <title>OpenLayers example</title>
</head>
<div id="popup"></div>
</div>

<body>
  <nav>
    <div class="nav-wrapper">
      {% comment %}<a href="#" class="brand-logo">Logo</a>{% endcomment %}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/V1prototype/">Map</a></li>
        <li><a href="">Graphs</a></li>
        <li><a href="">Log out</a></li>
      </ul>
    </div>
  </nav>
  {% block sidebar %}
  <div class="row">
    <div class="col s3">
      <h4>Select parameter</h4>
      <div class="userView">
        {% comment %}
        <a href="#!user"><img class="circle" src="{% static 'V1prototype/images/background.jpg' %}"></a>{% endcomment %}
      </div>
      <p>
        <input type="checkbox" id="indeterminate-checkbox-chlorosity" onclick="toggleChlorosity();" />
        <label for="indeterminate-checkbox-chlorosity">Chlorosity</label>
      </p>
      <input type="checkbox" id="indeterminate-checkbox-tide" onclick="toggleTide();" />
      <label for="indeterminate-checkbox-tide">Tide</label>
      </p>
      <!--<div class="divider"></div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="first_name" type="text" class="validate">
          <label for="first_name">From</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="last_name" type="text" class="validate">
          <label for="last_name">To</label>
        </div>
      </div>-->
      {% comment %}
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>{% endcomment %}
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>
    <script src="{% static 'V1prototype/index.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>  -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="{% static 'V1prototype/graph.js' %}"></script>
    <script>
      //(function(){
      var vectorSource = new ol.source.Vector({
        //create empty vector
      });

      //create the style
      var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */({
          anchor: [0.5, 46],
          anchorXUnits: 'fraction',
          anchorYUnits: 'pixels',
          opacity: 0.75,
          src: 'http://openlayers.org/en/v3.9.0/examples/data/icon.png'
        }))
      });

      function addTideMarkers() {
        // create icons from database and add to source vector
        {% for tide in tides %}
        var iconFeatureSingleTwo = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([{{ tide.lon }}, {{ tide.lat }}], 'EPSG:4326', 'EPSG:3857')),
            name: '{{ tide.locationName }}',
            value : '{{ tide.value }}',
            unit : '{{ tide.unit }}',
              //id: '{{ tide.id }}',
            url: "{% url 'graph' oid=tide.lat %}",
            timeFromDb: '{{ tide.time }}'
          });
      vectorSource.addFeature(iconFeatureSingleTwo);
      iconFeatureSingleTwo.setStyle(iconStyle);
      {% endfor %}
    }
    
    function addChlorosityMarkers() {
        // create icons from database and add to source vector
        {% for chlorosity in chlorosities %}
        var iconFeatureSingleThree = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([{{ chlorosity.lon }}, {{ chlorosity.lat }}], 'EPSG:4326', 'EPSG:3857')),
            name: '{{ chlorosity.locationName }}',
            value : '{{ chlorosity.value }}',
            unit : '{{ chlorosity.unit }}',
              //id: '{{ tide.id }}',
            url: "{% url 'graphChlorosity' oid=chlorosity.lat %}",
            timeFromDb: '{{ chlorosity.time }}'
          });
      vectorSource.addFeature(iconFeatureSingleThree);
      {% endfor %}
    }

      function hideMarkers() {
        vectorSource.clear();
      }
      
      function toggleTide() {
        // if checkbox tide is clicked
        if (document.getElementById("indeterminate-checkbox-tide").checked === true) {
          addTideMarkers();
        } else {
          hideMarkers();
        }
      }

      function toggleChlorosity() {
        // if checkbox tide is clicked
        if (document.getElementById("indeterminate-checkbox-chlorosity").checked === true){
          addChlorosityMarkers();
        }
        else {
          hideMarkers();
        }
      }

      //create a bunch of icons and add to source vector
      // for (var i=0;i<50;i++){

      //     var iconFeature = new ol.Feature({
      //       geometry: new  
      //         ol.geom.Point(ol.proj.transform([Math.random()*360-180, Math.random()*180-90], 'EPSG:4326',   'EPSG:3857')),
      //     name: 'Null Island ' + i,
      //     population: 4000,
      //     rainfall: 500
      //     });
      //     vectorSource.addFeature(iconFeature);
      // }


      //create different style
      var image = new ol.style.Circle({
        radius: 6,
        fill: null,
        stroke: new ol.style.Stroke({ color: '#D50000', width: 10 })
      });

      var styles = {
        'Point': new ol.style.Style({
          image: image
        }),
        'Circle': new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: 'red',
            width: 2
          }),
          fill: new ol.style.Fill({
            color: 'rgba(255,0,0,0.2)'
          })
        })
      };

      var styleFunction = function (feature) {
        return styles[feature.getGeometry().getType()];
      };

      //add the feature vector to the layer vector, and apply a style to whole layer
      var vectorLayer = new ol.layer.Vector({
        source: vectorSource,
        // style: iconStyle
        style: styleFunction
      });

      var map = new ol.Map({
        layers: [new ol.layer.Tile({ source: new ol.source.OSM() }), vectorLayer],
        target: document.getElementById('map'),
        view: new ol.View({
          center: ol.proj.fromLonLat([4.209137, 51.914997]),
          // center: [4.209137, 51.914997],
          zoom: 10
        })
      });

      var element = document.getElementById('popup');

      var popup = new ol.Overlay({
        element: element,
        positioning: 'bottom-center',
        stopEvent: false,
        offset: [0, -50]
      });
      map.addOverlay(popup);

      // display popup on click
      map.on('click', function (evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel,
          function (feature) {
            return feature;
          });
        if (feature) {
          var coordinates = feature.getGeometry().getCoordinates();
          popup.setPosition(coordinates);
          var url = feature.get('url');
          $(element).popover({
            'placement': 'top',
            'html': true,
            'content': feature.get('name')
            + feature.get('value')
            + feature.get('unit')
            + feature.get('timeFromDb')
            + '<p><a href="' + url + '">To graph</a></p>'
          });
          $(element).popover('show');
        } else {
          $(element).popover('destroy');
        }
      });

      // change mouse cursor when over marker
      map.on('pointermove', function (e) {
        if (e.dragging) {
          $(element).popover('destroy');
          return;
        }
        var pixel = map.getEventPixel(e.originalEvent);
        var hit = map.hasFeatureAtPixel(pixel);
        map.getTarget().style.cursor = hit ? 'pointer' : '';
      });
 //})();
    </script>
</body>

</html>