{% load static %}
{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    {% load material_form %} 
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/walkermatt/ol3-popup/master/src/ol3-popup.css" />
    <link rel="stylesheet" href="{% static 'V1prototype/style.css' %}">    
        <title>OpenLayers example</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        {% comment %}<a href="#" class="brand-logo">Logo</a>{% endcomment %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="">Graphs</a></li>
          <li><a href="">Preferences</a></li>
          <li><a href="">Log out</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col s3">
      <h4>Select parameter</h4>
        <div class="userView">
          {% comment %}<a href="#!user"><img class="circle" src="{% static 'V1prototype/images/background.jpg' %}"></a>{% endcomment %}
        </div>
        <p>
      <input type="checkbox" id="indeterminate-checkbox" />
        <label for="indeterminate-checkbox">Chlorosity</label>
      </p>
      <input type="checkbox" id="indeterminate-checkbox-two" />
        <label for="indeterminate-checkbox-two">Tide</label>
      </p>
      <div class="divider"></div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="first_name" type="text" class="validate">
          <label for="first_name">From</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="last_name" type="text" class="validate">
          <label for="last_name">To</label>
        </div>
      </div>
        {% comment %}<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>{% endcomment %}
      </div>
    {% block content %}{% endblock %} 
  <script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>
  <script src="{% static 'V1prototype/index.js' %}"></script>
  <script src="https://raw.githubusercontent.com/walkermatt/ol3-popup/master/src/ol3-popup.js"></script>  
  <script src="{% static 'V1prototype/popup.js' %}"></script>
  <script src="{% static 'V1prototype/graph.js' %}"></script>
  </body>

</html>