{% extends 'V1prototype/base.html' %}
{% block content %}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
      <div class="col s9">
        <div id="linechart_material" ></div>
        <a class="waves-effect waves-light btn">Copy graph</a>
        <a class="waves-effect waves-light btn">Export data</a>
{% comment %}<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>{% endcomment %}
{% comment %}<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a> {% endcomment %}
      </div>
  </body>
</html>
{% endblock %} 
