  {% extends 'V1prototype/base.html' %}
  <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
    <body>
    {% block sidebar %}
        <div class="row">
    <div class="col s3">
      <h4>Preferences</h4>
      <div class="userView">
      </div>
      <p>
        <input type="radio" id="test1" name="toggler" value="1" name="group1" />
        <label for="test1">Line chart</label>
      </p>
      <p>
        <input type="radio" id="test2" name="toggler" value="2" name="group1" />
        <label for="test2">Raw data</label>
      </p>
      <div class="divider"></div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="first_name" type="text" class="validate">
          <label for="first_name">From</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="dd-mm-yyyy" id="last_name" type="text" class="validate">
          <label for="last_name">To</label>
        </div>
      </div>
    </div>
    {% endblock %}
  {% block content %}
        <div class="col s9">

          <div id="blk-1" class="toHide" style="display:none">
            <div id="linechart_material" ></div> 
            <a class="waves-effect waves-light btn">Copy graph</a>
            <a class="waves-effect waves-light btn">Export data</a> 
          </div>
          
          <div id="blk-2" class="toggler" style="display:none">
            <div id="table_div"></div>
            <a class="waves-effect waves-light btn">Export data</a>
          </div>

        </div>
    </body>
  </html>
    <script type="text/javascript">

    $(function() {
      $("[name=toggler]").click(function(){
            $('.toHide').hide();
            $("#blk-"+$(this).val()).show('slow');
      });
    });

      google.charts.load('current', {'packages':['corechart', 'line', 'table']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawTable);
      //google.charts.setOnLoadCallback(drawChlorosityChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Tide');
        
        //tide.time on x-axis
        //tide.value on y-axis
        //time value in db: datetime.datetime(2017, 5, 30, 15, 0, tzinfo=<UTC>)
        //Google charts time should be:   
        data.addRows([
          {% for tide in tidesGraph %}
            [new Date({{ tide.time|date:'d-m-Y' }}), {{ tide.value }} ],
          {% endfor %}
        ]);

        var options = {
          {% for tide in tidesGraph %}
            chart: {
              title: '{{ tide.locationName }}',
              subtitle: ''
            },
          {% endfor %}
            width: 900,
            height: 500,
            hAxis: {
              format: 'd-m-Y',
              gridlines: {count: 15}
            },
            explorer: { 
                  actions: ['dragToZoom', 'rightClickToReset'], 
                  axis: 'horizontal',
                  keepInBounds: true,
                  maxZoomIn: 4.0
              }
        };

        var chart = new google.charts.Line(document.getElementById('linechart_material'));

        chart.draw(data, google.charts.Line.convertOptions(options));
      }

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Place');
        data.addColumn('number', 'Value');
        data.addColumn('string', 'Unit');
        data.addColumn('string', 'Date');

        data.addRows([
        {% for tide in tidesGraph %}
            ["{{ tide.parameterName}}", "{{ tide.locationName }}", {{ tide.value}}, "{{ tide.unit }}", '{{ tide.time|date:"d-m-Y H:i" }}'],
          {% endfor %}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {width: '100%', height: '100%'});
      }
      
  </script>

  {% endblock %} 
