{% load static %}
{% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    {% load material_form %} 
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/walkermatt/ol3-popup/master/src/ol3-popup.css" />
    <link rel="stylesheet" href="{% static 'V1prototype/style.css' %}">    
        <title>OpenLayers example</title>
  </head>
  <body>
    <h2>Select parameter</h2>
    <div id="map" class="map"></div>
    
  <script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>
  <script src="{% static 'V1prototype/index.js' %}"></script>
  <script src="https://raw.githubusercontent.com/walkermatt/ol3-popup/master/src/ol3-popup.js"></script>  
  <script src="{% static 'V1prototype/popup.js' %}"></script>
  </body>

</html>