{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.1.0/css/ol.css" type="text/css">
    <!--<style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>-->
    <script src="https://openlayers.org/en/v4.1.0/build/ol.js" type="text/javascript"></script>

        <title>OpenLayers example</title>
    <link rel="stylesheet" href="{% static 'V1prototype/style.css' %}">
  </head>
  <body>
    <h2>Select parameter</h2>
    <div id="map" class="map"></div>
    
  </body>
  <script src="{% static 'V1prototype/index.js' %}"></script>  

</html>